@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cta-action-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --cyan-inside-cta-gradient: hsl(176, 68%, 64%);
    --blue-inside-cta-gradient: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--main-background);
    color: var(--white);
}

header {
    width: 90vw;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.header-logo {
    width: 8.5rem;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-list li a:hover {
    text-decoration: underline;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.hero-section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.hero-content h1 {
    font-size: 2.25rem;
    line-height: 1.5;
}

.hero-content p {
    width: 75vw;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 1rem;
}

.hero-illustration {
    width: 90vw;
}

.btn {
    width: 12rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--cyan-inside-cta-gradient);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cta-action-background);
}

.hero-btn:hover {
    background-color: var(--blue-inside-cta-gradient);
    color: var(--white);
}

.highlights-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.highlight-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.highlight-content h4 {
    font-size: 1.75rem;
}

.highlight-content p {
    font-size: 1.25rem;;
    line-height: 1.8;
}

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.feature-illustration {
    width: 80vw;
}

.feature-content {
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.feature-content h2 {
    font-size: 1.75rem;
}

.feature-content p {
    font-size: 1.25rem;;
    line-height: 1.8;
}

.feature-cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: var(--cyan-inside-cta-gradient);
    font-size: 1.15rem;
    text-decoration: none;
    position: relative;
}

.feature-cta a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.875rem;
    width: 12.875rem;
    height: 0.125rem;
    background-color: var(--cyan-inside-cta-gradient);
}

.feature-cta a img {
    width: 1.5rem;
}

.testimonials-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.875rem;
    position: relative;
    padding-bottom: 4rem;
}

.testimonial {
    padding: 2rem;
    background-color: var(--testimonials-background);
    width: 32.5rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: relative;
}

.testimonial-1::before {
    content: "";
    position: absolute;
    top: -2.25rem;
    left: 0.625rem;
    width: 40px; 
    height: 40px;
    background-image: url(./images/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  blockquote {
    width: 26rem;
    font-size: 1.156rem;
    line-height: 1.8;
    opacity: 0.9;
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .avatar-image {
    width: 3.5rem;
    border-radius: 50%;
  }

  .avatar-content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    letter-spacing: 0.1rem;
    opacity: 0.9;
  }

  .avatar-content h5 {
    font-size: 1.125rem;
  }

  .avatar-paragraph {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .early-access-cta {
    background-color: var(--cta-action-background);
    padding: 2rem;
    width: 34rem;
    height: 34rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 2;
    margin-bottom: -350px;
  }

  .early-access-cta h3 {
    font-size: 1.875rem;
  }

  .access-cta-paragraph {
    width: 27rem;
    font-size: 1.375rem;
    line-height: 1.6;
    text-align: center;
    opacity: 0.9;
  }

  .early-access-form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .early-access-form input {
    width: 27rem;
    height: 4.5rem;
    border-radius: 5rem;
    border: none;
  }

  input[type=email] {
    padding-left: 3.125rem;
  }

  input[type=email]::placeholder {
    font-size: 1.125rem;
    opacity: 0.6;
  }

  input[type=submit] {
    background-color: var(--cyan-inside-cta-gradient);
    color: var(--cta-action-background);
    font-size: 1.125rem;
    font-weight: 600;
  }

  input[type="submit"]:hover {
    background-color: var(--blue-inside-cta-gradient);
    color: var(--white);
}


footer {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--footer-background);
    z-index: 1;
    position: relative;
}

.footer-logo .location-info {
    width: 60vw;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75rem;
    font-size: 1.125rem;
    line-height: 1.6;
}

.location-icon {
    width: 3.625rem;
}

.flyo-contact {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.75rem;
    font-size: 1.125rem;
}

.phone-icon {
    width: 1.5rem;
}

.email-icon {
    width: 1.75rem;
}

.footer-nav {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 4.25rem;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer-nav li a:hover {
    font-weight: 700;
}

.flyo-socials {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.flyo-socials a {
    text-decoration: none;
    border:  0.063rem solid var(--white);
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyo-socials a .fa-brands {
    color: var(--white);
    font-size: 1.25rem;
}

.flyo-socials a .fa-brands:hover {
    color: var(--cyan-inside-cta-gradient);
}


@media (min-width: 769px) {

}

@media (min-width: 1280px) {

}