@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cta-action-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --cyan-inside-cta-gradient: hsl(176, 68%, 64%);
    --blue-inside-cta-gradient: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background);
    color: var(--white);
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cta-action-background);
}

.header-logo {
    width: 12rem;
    padding: 4rem 2rem;
}

.nav-list {
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 300;
}

.nav-list li a:hover {
    text-decoration: underline;
    font-weight: 600;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.hero-content h1 {
    font-size: 2.25rem;
    line-height: 1.5;
}

.hero-content p {
    width: 75vw;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 1rem;
}

.figure-hero {
    width: 100vw;
    height: 40vh;
    background-color: var(--cta-action-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -5;
}

.figure-hero::after {
    content: "";
    position: absolute;
    bottom: -180px;
    left: 0;
    height: 300px;
    width: 100%;
    background: var(--cta-action-background) url(./images/bg-curvy-mobile.svg) no-repeat bottom;
    background-size: 100%;
    z-index: -1;
}

.hero-illustration {
    width: 70%;
}

.btn {
    width: 12rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--cyan-inside-cta-gradient);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cta-action-background);
}

.hero-btn:hover {
    background-color: var(--blue-inside-cta-gradient);
    color: var(--white);
}

.highlights-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.highlight-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    z-index: 1;
}

.highlight-content h4 {
    font-size: 1.75rem;
}

.highlight-content p {
    font-size: 1.25rem;;
    line-height: 1.8;
}

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.feature-illustration {
    width: 80vw;
}

.feature-content {
    width: 76vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.feature-content h2 {
    font-size: 1.75rem;
}

.feature-content p {
    font-size: 1.25rem;;
    line-height: 1.8;
}

.feature-cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: var(--cyan-inside-cta-gradient);
    font-size: 1.15rem;
    text-decoration: none;
    position: relative;
}

.feature-cta a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.875rem;
    width: 12.875rem;
    height: 0.125rem;
    background-color: var(--cyan-inside-cta-gradient);
}

.feature-cta a img {
    width: 1.5rem;
}

.testimonials-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.875rem;
    position: relative;
    padding-bottom: 4rem;
}

.testimonial {
    padding: 0 2rem;
    background-color: var(--testimonials-background);
    width: 30rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: relative;
}

.testimonial-1::before {
    content: "";
    position: absolute;
    top: -2.25rem;
    left: 0.625rem;
    width: 40px; 
    height: 40px;
    background-image: url(./images/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  blockquote {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 0 0.125rem;
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .avatar-image {
    width: 3.5rem;
    border-radius: 50%;
  }

  .avatar-content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    letter-spacing: 0.1rem;
    opacity: 0.9;
  }

  .avatar-content h5 {
    font-size: 1.125rem;
  }

  .avatar-paragraph {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .early-access-cta {
    background-color: var(--cta-action-background);
    width: 34rem;
    height: 34rem;
    border-radius: 0.875rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 2;
    margin-bottom: -250px;
  }

  .early-access-cta h3 {
    font-size: 1.875rem;
  }

  .access-cta-paragraph {
    font-size: 1.375rem;
    line-height: 1.6;
    padding: 0 3rem;
    text-align: center;
  }

  .early-access-form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .early-access-form input {
    width: 27rem;
    height: 4.5rem;
    border-radius: 5rem;
    border: none;
  }

  input[type=email] {
    padding-left: 3.125rem;
  }

  input[type=email]::placeholder {
    font-size: 1.125rem;
    opacity: 0.6;
  }

  input[type=submit] {
    background-color: var(--cyan-inside-cta-gradient);
    color: var(--cta-action-background);
    font-size: 1.125rem;
    font-weight: 600;
  }

  input[type="submit"]:hover {
    background-color: var(--blue-inside-cta-gradient);
    color: var(--white);
}


footer {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
    padding-top: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--footer-background);
    z-index: 1;
    position: relative;
}

.footer-logo .location-info {
    width: 60vw;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75rem;
    font-size: 1.125rem;
    line-height: 1.6;
}

.location-icon {
    width: 3.625rem;
}

.flyo-contact {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.75rem;
    font-size: 1.125rem;
}

.phone-icon {
    width: 1.5rem;
}

.email-icon {
    width: 1.75rem;
}

.footer-nav {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 4.25rem;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer-nav li a:hover {
    font-weight: 700;
}

.flyo-socials {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.flyo-socials a {
    text-decoration: none;
    border:  0.063rem solid var(--white);
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyo-socials a .fa-brands {
    color: var(--white);
    font-size: 1.25rem;
}

.flyo-socials a .fa-brands:hover {
    color: var(--cyan-inside-cta-gradient);
}


@media (min-width: 768px) {
    .header-logo {
        width: 12rem;
    }
    .nav-list {
        display: flex;
        justify-content: flex-end;
        gap: 2.5rem;
    }
    .hero-section {
        width: 40vw;
        min-height: 20rem;
    }
    .hero-illustration {
        width: 40rem;
    }
    .hero-content h1 {
        width: 40.625rem;
    }
    .hero-content p {
        width: 35rem;
        font-weight: 500;
    }

    .figure-hero {
        height: 33rem;
    }

    .figure-hero::after {
        content: "";
        position: absolute;
        bottom: -400px;
        left: 0;
        height: 400px;
        width: 100%;
        background: var(--cta-action-background) url(./images/bg-curvy-desktop.svg) no-repeat bottom;
        background-size: cover;
        z-index: -1;
    }
    .highlights-section {
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
        gap: 4rem;
    }
    .highlight-image {
        width: 4.125rem;
        height: 4.125rem;
        object-fit: contain;
    }
    .highlight-content {
        width: 21rem;
    }
    .highlight-content h4 { 
        font-size: 1.125rem;
    }
    .highlight-content p {
        font-size: 0.875rem;;
        line-height: 1.8;
    }
    .feature-section {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .feature-figure {
        width: 50%;
    }
    .feature-illustration {
        width: 100%;
    }
    .feature-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
    .feature-content h2 {
        font-size: 1.5rem;
    }
    .feature-content p {
        font-size: 1rem;;
        line-height: 1.8;
    }
    .feature-cta a {
        font-size: 1rem;
    }
    .testimonials-section {
        width: 95vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .testimonials-section::-webkit-scrollbar {
        height: 8px;
    }
    .testimonials-section::-webkit-scrollbar-track {
        background: var(--testimonials-background);
    }
    .testimonials-section::-webkit-scrollbar-thumb {
        background: #5a67d8;
        border-radius: 0.25rem;
    }
    .testimonials-section::-webkit-scrollbar-thumb:hover {
        background: #434190;
    }
    
    .testimonial {
        padding: 0 2rem;
        background-color: var(--testimonials-background);
        width: 22rem;
        height: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        position: relative;
        scroll-snap-align: start
    }
    .testimonial-1::before {
        content: "";
        position: absolute;
        top: -0.25rem;
        left: 0.625rem;
        width: 40px; 
        height: 40px;
    }
    blockquote {
        width: 18rem;
        font-size: 0.875rem;
    }
    .avatar-content {
        gap: 0.5rem;
    }
     
    .avatar-image {
        width: 2.125rem;
    }
    .avatar-content h5 {
        font-size: 0.75rem;
    }
    .avatar-paragraph {
        font-size: 0.625rem;
    }
    .early-access-cta {
        width: 45rem;
        height: 20rem;
        margin-bottom: -200px;
        gap: 1rem;
    }
    .early-access-cta h3 {
        font-size: 1.75rem;
    }
    .access-cta-paragraph {
        font-size: 1rem;
        width: 45rem;
    }
    .early-access-form {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .early-access-form input {
        height: 2.875rem;
        border-radius: 5rem;
        border: none;
    }
    input[type=email] {
        width: 28rem;
        padding-left: 3.125rem;
    }
    input[type=email]::placeholder {
        font-size: 0.875rem;
    }
    input[type=submit] {
        width: 10rem;
        font-size: 0.813rem;
    }

}


@media (min-width: 1200px) {
    .hero-illustration {
        width: 45rem;
    }

    .figure-hero::after {
        content: "";
        position: absolute;
        bottom: -400px;
        left: 0;
        height: 400px;
        width: 100%;
        background: var(--cta-action-background) url(./images/bg-curvy-desktop.svg) no-repeat bottom;
        background-size: 100% 90%;
        z-index: -1;
    }
    .feature-figure {
        width: 30rem;
    }
    .feature-content {
        width: 35rem;
    }
    .testimonials-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    footer {
        min-height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }

    .footer-logo .location-info {
        width: 23rem;
    }
    .footer-logo {
        display: flex;
        flex-direction: column;
    }
    .footer-logo-icon {
        width: 10rem;
    }
    .location-icon {
        width: 1.2rem;
    }
    .location-info p {
        font-size: 1rem;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
    }
    .footer-nav ul{
        gap: 1rem;
    }
    .footer-nav ul li a {
        font-size: 1rem;
    }
    .flyo-contact,
    .footer-nav,
    .flyo-socials {
        width: 20rem;
        padding-top: 5rem;
    }
    .flyo-socials {
        margin: 0;
    }
    .flyo-socials a {
        width: 2rem;
        height: 2rem;
    }
    .flyo-socials a .fa-brands {
        font-size: 1rem;
    }

}
