
:root { 
    --main-background: hsl(0, 0%, 90%);
    --toggle-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
    --dark-moderate-cyan: hsl(185, 42%, 37%);
    --very-dark-cyan: hsl(185, 58%, 25%);
    --orange: hsl(25, 98%, 40%);
    --dark-orange: hsl(25, 99%, 27%);
    --light-grayish-yellow: hsl(45, 7%, 89%);
    --dark-grayish-orange: hsl(35, 11%, 61%);
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
}