:root {
    --theme-1-main-background: hsl(222, 26%, 31%);
    --theme-1-toggle-background: hsl(223, 31%, 20%);
    --theme-1-screen-background: hsl(224, 36%, 15%);
    --key-background: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);
}