@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --font-size-small: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-position: left 100px top;
    background-size: contain;
    background-repeat: no-repeat;
}


/*mobile section styles*/

section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.illustration-intro {
    max-width: 100%;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.25rem;
}

.hero-heading {
    font-size: 2.5rem;
    line-height: 1.28;
    color: var(--dark-blue);
    text-align: center;
}

.hero-text {
    padding-bottom: 1.125rem;
    width: 70%;
    font-size: var(--font-size-small);
    font-weight: 200;
    line-height: 1.6;
    color: var(--dark-grayish-blue);
    text-align: center;
}

.hero-btn {
    width: 9.5rem;
    height: 3rem;
    margin-left: 0.5rem;
    border-radius: 1.563rem;
    border-style: none;
    background-color: var(--bright-red);
    color: var(--very-light-gray);
    font-weight: 800;
    font-size: 0.875rem;
}

.hero-btn:hover {
    background-color: var(--dark-blue);
    color: var(--bright-red);
}

.feature-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.feature-header {
    width: 80vw;
    margin-top: 1.5rem;
    font-size: 2.125rem;
    line-height: 1.4;
    color: var(--dark-blue);
    text-align: center;
}

.feature-paragraph {
    padding: 0 0.75rem;
    width: 70%;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2;
    color: var(--dark-grayish-blue);
    text-align: center;
}

.feature-column {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
}

.feature {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-heading {
    height: 5vh;
    width: 96vw;
    margin-left: 1.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--very-pale-red);
    border-top-left-radius:1.563rem;
    border-bottom-left-radius: 1.563rem;
    font-size: 0.938rem;
    font-weight: 700;
    gap: 0.875rem;
}

.feature-heading-tag {
    height: 100%;
    width: 14%;
    border-radius: 1.563rem;
    border-style: none;
    color: var(--very-light-gray);
    background-color: var(--bright-red);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-heading-info {
    color: var(--dark-blue);
}

.feature-text {
    width: 100%;
    padding: 0.875rem 0;
    margin-left: 1.75rem;
    font-size: 0.906rem;
    font-weight: 400;
    line-height: 2;
    color: var(--dark-grayish-blue);
    text-align: justify;
}

.last-cta {
    height: 40vh;
    background-color: var(--bright-red);
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.last-cta-heading {
    width: 42vw;
    text-align: center;
    color: var(--very-light-gray);
    font-size: 2rem;
}

.last-hero-btn {
    width: 9.5rem;
    height: 3rem;
    margin-left: 0.5rem;
    border-radius: 1.563rem;
    border-style: none;
    background-color: var(--very-light-gray);
    color: var(--bright-red);
    font-weight: 800;
    font-size: 0.875rem;
}

.last-hero-btn:hover {
    background-color: var(--dark-blue);
    color: var(--bright-red);
}

.testimonial-heading {
    margin: 2.4rem 0;
    font-size: 1.95rem;
    color: var(--dark-blue);
    text-align: center;
}

.review-list {
    display: flex;
    gap: 1.25rem;
    padding: 1rem;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.review-slider {
    scroll-snap-align: center;
}

.review {
    width: 34rem;
    height: 17.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--very-pale-red);
}

.avatar-profile {
    height: 12vh;
    margin: -0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.avatar {
    margin-top: -2rem;
    height: 75%;
}

.avatar-text {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 0.875rem;
}

blockquote {
    height: 75vh;
    margin: 0 2rem;
    text-align: center;
    color: var(--dark-grayish-blue);
    font-size: 0.815rem;
    font-weight: 300;
    line-height: 1.8;
}

.testimonial-cta {
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*footer styles */

footer {
    height: 50vh;
    padding: 1.25rem;
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: relative;
}

.newsletter-form input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.563rem;
    border-style: none;
    padding: 1rem;
}

.footer-btn {
    width: 4.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    border-radius: 1.563rem;
    border-style: none;
    background-color: var(--bright-red);
    color: var(--very-light-gray);
    font-weight: 800;
    font-size: 0.75rem;
}

.footer-btn:focus {
    background-color: var(--dark-blue);
    color: var(--bright-red);
}

.footer-column-2 {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.95rem;
    padding-bottom: 2rem;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6.5rem;
}

.footer-nav .column {
    padding-left: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.875rem;
}

.footer-nav .column li {
    font-size: 0.825rem;
}

.footer-nav .column li a {
    text-decoration: none;
    color: var(--very-light-gray);
    opacity: 0.8;
}

.socials-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.social-icon {
    height: 3vh;
}

.copy-text {
    padding: 1rem 2rem;
    color: var(--dark-grayish-blue);
    position: absolute;
    bottom: 0;
    text-align: center;
    left: auto;
}

/* mobile nav*/

@media (max-width: 768px) {

    header {
        padding: 1.5rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header-logo {
        height: 1.25rem;
        width: 6rem;
    }
    
    nav {
        position: relative
    }
    
    .menu-toggle {
        display: none;
    }
    
    .hamburger {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 32%;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 1.5rem;
        height: 1.2rem;
    }
    
    .bar {    
        height: 0.25rem;
        width: 100%;
        background-color: var(--very-dark-blue);
        border-radius: 0.625rem;
        transition: all 0.3s ease-in-out;
    }
    
    .menu-toggle:checked + .hamburger .bar:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 10px;
    }
    
    .menu-toggle:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle:checked + .hamburger .bar:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -18px;
    }
    
    .menu { 
        margin-top: 3rem;
        position: absolute;
        right: 10%;
        z-index: 10;
        background-color: var(--very-light-gray);
        border-radius: 0.313rem;
        box-shadow: 0 35px 60px -15px rgb(0 0 0 / 0.3);
        width: 90vw;
        height: 45vh;
        display: none;
        place-items: center;
    }
    
    .menu li {
        list-style: none;
        padding: 0.35rem;
    }
    
    .menu-toggle:checked ~ .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .menu li a {
        text-decoration: none;
        color: var(--dark-blue);
        font-size: 0.875rem;
        font-weight: 700;
    }
    
    .menu li a:hover {
        color: var(--bright-red);
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 3;
        pointer-events: none;
    }
    
    .menu-toggle:checked ~ .overlay {
        opacity: 1;
        pointer-events: all;
    }
    
    .cta-button {
        display: none;
    }
}

/* tablet device  */

@media (min-width: 769px) and (max-width: 1024px) {
   body {
    background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
    background-position: right -200px top -100px, left -280px top 950px;
    background-size: 750px, 500px;
    background-repeat: no-repeat, no-repeat;
   }

   header {
        width: 80vw;
        padding: 3rem 2.5rem;
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 4rem;
   }

   .header-logo {
      width: 6.5rem; 
      height: 1.125rem;
   }

    .menu-toggle {
        display: none;
    }
    
    .menu {
        width: 45vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
    }
    
    .menu li {
        list-style: none;
        font-size: 0.765rem;
    }
    
    .menu li a {
        font-weight: 500;
        text-decoration: none;
        color: var(--dark-blue);
    }
    
    .menu li a:hover {
        color: var(--bright-red);
    }
    
    .header-btn {
        width: 6rem;
        height: 2.75rem;
        border-radius: 1.563rem;
        border-style: none;
        background-color: var(--bright-red);
        color: var(--very-light-gray);
        font-weight: 700;
        font-size: 0.675rem;
    }
    
    .header-btn:hover {
        background-color: var(--dark-blue);
        color: var(--bright-red);
    }

   .hero-heading,
   .feature-header {
    font-size: 2.875rem;
   }

   .hero-text,
   .feature-paragraph {
    font-size: 1.025rem;
    font-weight: 400;
    width: 70%;
    text-align: center;
   }

   .avatar-text {
    font-size: 1rem;
   }

   blockquote {
    font-size: 0.925rem;
   }
}

/* laptop devices */
@media (min-width: 1025px) {

    body {
        width:100vw;
        background-image: url(./images/bg-tablet-pattern.svg);
        background-position: right -10px top -130px;
        background-size: 600px;
        background-repeat: no-repeat;
        overflow-x: hidden;
    } 

    header {
        width: 90vw;
        padding: 4rem 2.175rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 6rem;
    }

    .menu-toggle {
        display: none;
    }
    
    .menu {
        width: 45vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1.75rem;
    }
    
    .menu li {
        list-style: none;
        font-size: 0.765rem;
    }
    
    .menu li a {
        font-weight: 500;
        text-decoration: none;
        color: var(--dark-blue);
    }
    
    .menu li a:hover {
        color: var(--bright-red);
    }
    
    .header-btn {
        width: 9.5rem;
        height: 2.75rem;
        border-radius: 1.563rem;
        border-style: none;
        background-color: var(--bright-red);
        color: var(--very-light-gray);
        font-weight: 700;
        font-size: 0.875rem;
    }
    
    .header-btn:hover {
        background-color: var(--dark-blue);
        color: var(--bright-red);
    }
    
    .hero-section {
        width: 80vw;
        margin: 0 2.5rem;
        padding: 0 2.175rem;
         display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 1.125rem;
    }
    
    .hero-image {
        width: 50%;
    }
    
    .illustration-intro {
        width: 100%;
    }
    
    .hero-content {
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 1rem;
    }

    .hero-heading {
        font-size: 2.625rem;
        text-align: justify;
    }
    
    .hero-text {
        width: 80%;
        font-weight: 300;
        text-align: justify;
    }
    
    .feature-section {
        width: 80vw;
        margin: 0 2.5rem;
        padding: 2.175rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.125rem;
    }
    
    .feature-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
    
    .feature-header {
        font-size: 2.35rem;
        text-align: justify;
    }
    
    .feature-paragraph {
        width: 80%;
        padding: 0;
        font-weight: 300;
        text-align: justify;
    }
    
    .feature-column {
        width: 50%;
    }
    
    .feature-heading {
        height: 6vh;
        width: 50%;
        background-color: var(--very-pale-red);
    }
    
    .feature-text {
        width: 45%;
        padding-left: 2.95rem;
        font-size: 0.925rem;
        line-height: 1.6;
        text-align: justify;
    }
    
    .last-cta {
        height: 26vh;
        padding: 0 5rem;
        background-image: url(./images/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .last-cta-heading {
        width: 35vw;
        font-size: 1.75rem;
    }
    
    .review {
        width: 34rem;
        height: 17.5rem;
    }
    
    .avatar {
        margin-top: -3rem;
        height: 60%;
    }
    
    .avatar-text {
        font-size: 1rem;
    }
    
    blockquote {
        font-size: 0.95rem;
    }
    
    .testimonial-cta {
        margin: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*footer styles */
    
    footer {
        height: 24vh;
        padding: 2.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        position: relative;
    }
    
    .newsletter-form {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 3rem;
    }
    
    .newsletter-form input {
        width: 11rem;
    }
    
    .footer-btn {
        width: 3.25rem;
        height: 2.215rem;
    }
    
    .footer-nav {
        width: 30vw;
    }
    
    .column li a:hover {
        color: var(--bright-red);
    }
    
    .footer-column-2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3.75rem;
    }
    
    .socials-icons {
        gap: 1rem;
    }
    
    .social-icon {
        height: 2.5vh;
    }

}