@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --Grayish-blue: hsl(229, 7%, 55%);
    --Dark-blue: hsl(228, 56%, 26%);
    --Very-dark-blue: hsl(229, 57%, 11%);
    --white: #FFFFFF;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-small);
    background-image: url(./images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: flex;
    place-items: center;
}

section {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    height: 36%;
    width: 70vw;
    background-color: var(--Dark-blue);
    border-radius: 0.625rem 6.25rem 0.625rem 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flyo-logo {
    margin-left: 2rem;
}

.icon-container {
    display: flex;
    margin-left: 1.5rem;
}

.icon-row {
    margin: 0.5rem;
    padding: 0.625rem;
    background-color: var(--Very-dark-blue);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-container {
    height: 26%;
    width: 70vw;
    background-color: var(--Dark-blue);
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.meter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--pale-blue);
    position: relative;
}

meter {
    -webkit-appearance: none;
    appearance: none;
    width: 50vw;
    height: 1.25rem;
    border-radius: 0.625rem;
    background: var(--Very-dark-blue);
    padding-left: 0.2rem;
}

meter::-webkit-meter-bar {
    width: 40vw;
    height: 0.875rem;
    border-radius: 0.625rem;
    background: var(--primary-gradient);
}

meter::-moz-meter-bar {
    border-radius: 0.625rem;
    background: var(--primary-gradient);
}

meter::-webkit-meter-optimum-value {
    background: var(--primary-gradient);
}

.dot {
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 6%;
    left: 76%;
}

.data-container p {
    color: var(--pale-blue);
    font-weight: 400;
    padding: 1rem;
}

.data-container span {
    font-weight: 800;
}

.span-container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 0.75rem;
}

.data-left-container {
    height: 6vh;
    width: 30vw;
    background-color: var(--white);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7.5rem;
}

.data-left-container p {
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 2.125rem;
}

.data-left-container span{
    color: var(--Grayish-blue);
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
    main {
        background-color: var(--Very-dark-blue);
        background-image: url(./images/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 40rem;
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-top: -4%;
    }

    .logo-container {
        width: 25rem;
    }
    .data-container {
        width: 36rem;
        margin-left: 1.25rem;
    }
    .data-container p {
        align-self: flex-start;
    }
    meter {
        width: 32rem;
    }

    meter::-webkit-meter-bar {
        width: 26rem;
    }
    .dot {
        left: 78%;
    }
    .data-left-container {
        height: 4rem;
        width: 10rem;
        top: -2.5rem;
        left: 65%;
        z-index: 1;
    }
    .data-left-container p {
        align-self: center;
        font-size: 1.875rem;
    }
    .data-left-container::after {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 0 2rem 2rem 0;
        border-color: transparent var(--white) transparent transparent;
        z-index: -1;
        bottom: -1.5rem;
        left: 78%;

    }
}