@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --font-size-small: 0.813rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

section {
    width: 80vw;
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2.75rem;
    border-radius: 1.563rem;
}

article {
    width: clamp(22rem, 80%, 40rem);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
}

article:nth-of-type(1) {
    background-color: var(--moderate-violet);
    color: var(--white);
}

.background-pattern img {
    background-image: contain;
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 68%;
    top: 0.5%;
    z-index: 1;
}

.testimonial-container {
    z-index: 10;
}

article:nth-of-type(2){
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}
article:nth-of-type(3){
    background-color: var(--white);
}
article:nth-of-type(4){
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}
article:nth-of-type(5){
    background-color: var(--white);
}

.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}

.avatar1 {
    border-style: solid;
    border-color: #cca3ff;
}

.avatar2 {
    border-style: solid;
    border-color: var(--very-dark-grayish-blue);
}

.avatar3 {
    border-style: solid;
    border-color: var(--light-gray);
}

.avatar4 {
    border-style: solid;
    border-color: var(--moderate-violet);
}
.avatar5 {
    border-style: solid;
    border-color: var(--light-grayish-blue);
}

.avatar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.avatar-text h1 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
}
.avatar-text p{
    margin: 0;
    opacity: 50%;
    font-size: 0.875rem;
    font-weight: 400;
}

.av-text1, .av-text2, .av-text4{
    color: var(--light-gray);
}

.av-text3, .av-text5 {
    color: var(--very-dark-grayish-blue);
}

blockquote {
    width: clamp(20rem, 95%, 40rem);
    margin: 1.4rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
}
.blockquote1 {
    color:#feeee8;
}

.blockquote2, .blockquote4 {
    color: var(--white);
    opacity: 80%
}

.blockquote3, .blockquote5{
    color: var(--very-dark-blackish-blue);
    opacity: 80%
}

.review-text {
    width: clamp(22rem, 100%, 40rem);
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--light-gray);
    opacity: 70%
}

.text1{
    color: var(--light-gray);
}

.text2, .text5 {
    color: var(--white);
}

.text3, .text5{
    color: var(--very-dark-blackish-blue);
}

@media screen and (min-width: 1200px){
    section {
        max-width: 70rem;
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 4rem;
        row-gap: 2rem;
        align-items: stretch;
    }

    article {
        width: 100%;
    }

    blockquote,
    .review-text {
        width: 100%;
    }

    .article1 {
        grid-column: 1/ span 2;
    }

    .article2 {
        grid-column: 3 / span 1;
    }

    .article3 {
        grid-column: 1/ span 1;
    }

    .article4 {
        grid-column: 2 / span 2;
    }

    .article5 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
    }

    .background-pattern img {
        height: 7.4rem;
        width: 7.4rem;
        left: 72%;
    }
}