@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');

/* base styles */
:root {
    --violet: #6466E9;
    --dark-blue: #111729;
    --midnight: #20293A;
    --grey: #4A5567;
    --light-grey: #97A3B6;
    --orange: #e36414;
    --white: #FFFFFF;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.625rem;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
}
/* header styles*/
.page-header {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-medium);
}

.source-code {
    text-decoration: none;
    color: var(--violet);
    align-self: flex-end;
}

.source-code:hover {
    color: var(--orange);
}

/* main styles*/
main {
    height: 35vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sections styling*/

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    min-width: 100%;
    background-color: var(--midnight);
    background-image: url(./assets/bg-image-random-quote.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
}

.author {
    color: var(--white);
    font-size: var(--font-size-medium);
    font-weight: 900;
    text-align: center;
    font-size: var(--font-size-medium);
}

#category {
    font-size: 0.75rem;
    transition: border-color 0.3s ease;
}

.category-row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-row span {
    border-radius: 3.125rem;
    border-width: 0.125rem;
    border-color: var(--violet);
    border-style: solid;
    background-color: var(--midnight);
    color: var(--violet);
    text-align: center;
    font-size: 0.75rem;
    padding: 0.313rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

blockquote{
    min-height: 40%;
    position: relative;
}

blockquote:before{
    content: open-quote;
    vertical-align: bottom;
}
blockquote:after{
    content: close-quote;
    vertical-align: bottom;
}

blockquote:before,
blockquote:after {
    display: inline-block;
    color: var(--violet);
    font-size: 3rem;
    line-height: 0.4;
}

.quote {
    font-size: 1.25rem;
    color: var(--light-grey);
    text-align: center;
}

.generate-container {
    min-width: 100%;
    min-height: 10%;
    padding: 1.25rem;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons-set {
    display: flex;
    gap: 0.75rem;
    color: var(--grey);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem;
}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 6.25rem;
    background-color: var(--midnight);
    color: var(--white);
    text-align: center;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border-color: var(--orange);
    margin: 0.875rem;
    padding: 0.625rem;
    position: absolute;
    top: 1.4rem;
    left: -50%;
    z-index: 2;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--midnight);
    bottom: 1rem;
    z-index: 1;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.generate-button {
    padding: 0.625rem;
    border-radius: 0.375rem;
    border-color: var(--violet);
    background-color: var(--midnight);
    color: var(--violet);
    text-align: center;
    font-weight: 500;
}

.generate-button:hover {
    border-color: var(--orange);
    color: var(--white);
}

/*footer styles*/
footer {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--violet)
}

p:hover {
    color: var(--orange);
}

.my-icon {
    height: 100px;
    width: 100px;
}


@media screen and (min-width: 960px){
    main {
        height: 40vh;
        width: 40vw;
    }
}