@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color : #11111F ;
    --primary-font: #FFF ;
    --secondary-font : #8994A5;
    --button-color: #CDD5E020;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }

body {
  font-family: "Be Vietnam Pro", san-serif;
  background-color: var(--background-color);
  color: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  }

header {
  width: 100%;
  padding: 4.5rem;
  background-image: url(./assets/faq-title-bg@2x.png);
  background-position: center;
  background-size: contain ;
  background-repeat: no-repeat;
  color: var(--secondary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  }

header h1 {
  text-align: center;
  font-size: 2.625rem;
  color: var(--secondary-font)
  }

main {
  width: 90%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.hero-info {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}

.hero-subheader {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.hero-description {
  color: var(--secondary-font);
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.faq-nav {
  padding-top: 1.75rem;
}

.faq-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.faq-nav ul li {
  flex: 1 1 calc(50% - 1rem); 
  justify-content: center;
  align-items: center;
}

.faq-nav button {
  padding: 8px 18px;
  border-radius: 3.125rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-font);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  transition: all 0.3s ease;
}

.faq-nav button:hover {
  background-color: rgba(168, 136, 255, 0.15); 
}

.faq-nav button.active {
  background-color: var(--button-color);
    box-shadow: 0 2px 0 #a888ff, rgb(0 0 0 / 5%) 0 0 8px;
  color: var(--primary-font);
}

.faq-items {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.faq-items article {
  background-color: var(--button-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background: transparent;
  transition: border 0.3s ease;
  overflow: hidden;
}

.faq-items article button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--primary-font);
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-items article button .accordion-arrow {
  transition: transform 0.3s ease;
}

.faq-items article button[aria-expanded="true"] .accordion-arrow {
  transform: rotate(180deg);
}

.faq-items article:has(button[aria-expanded="true"]) {
  border: none;
  background-color: var(--button-color);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


.faq-items .faq-content {
  padding: 0.75rem 1rem;
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8;
}

/*tablet (> 600px) */

@media (min-width: 600px) {
  .faq-nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .faq-nav ul li {
    flex: 0 0 auto;
}
.faq-items {
  width: 90%;
  max-width: 780px;
}
}
