@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --font-size-small: 1rem;
    --font-size-medium: 1,25rem;
    --font-size-large: 1.5rem;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: "Libre Franklin", sans-serif;
    font-size: var(--font-size-medium);
    color: var(--gray);
    cursor: pointer;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    margin-top: 4.5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 200;
    font-size: 2.5rem;
}
.emphasis-text {
    color: black;
    font-weight: 800;
}

p {
    text-align: center;
    font-weight: 400;
    color: #525252;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
/*remove chrome's default behavior*/
   input:focus, textarea:focus, select:focus {
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 5rem;
}
.form-container input {
    margin: 1.5rem;
    width: 20rem;
    height: 3.25rem;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: var(--pale-blue);
}

input[type=email] {
    padding-left: 1.75rem;
    font-size: var(--font-size-small);
}

input:focus{
    border-style: solid;
    border-width: 0.075rem;
    border-color: var(--primary-color);
}

input::placeholder {
    padding-left: 1.05rem;
    color: var(--gray);
    font-size: var(--font-size-small);
}

.error-container {
    color: var(--light-red);
    font-style: italic;
    display: inline;
    position: absolute;
    top: 90%;
    left: 4rem;
}

.submit-btn {
    width: 10rem;
    height: 3.25rem;
    border-radius: 1.75rem;
    background-color: var(--primary-color);
    color: white;
    border-style: solid;
    border-color: var(--primary-color);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    font-size: var(--font-size-medium);
    font-weight: 700;
    text-align: center;
}

 .email-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
}

.launch-icon {
    height: auto;
    max-width: 40%;
    text-align: center;
    margin: 1.25rem;
}

.launch-message1 {
    margin: 0.5rem;
    color: var(--very-dark-blue);
    font-weight: 700;
}

.launch-message2 {
    color: rgb(224, 147, 2);
    font-weight: 400;
}

.modal-button {
    margin: 1rem;
    padding: 1rem;
    width: 6.5rem;
    border-radius: 1.75rem;
    border-style: solid;
    border-color: var(--pale-blue);
    color: white;
    background-color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

.dashboard-container {
    width: 60%;
    margin-top: 1.5rem;
    margin-bottom: 10rem;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.socials-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.05rem;
    border-color: var(--pale-blue);
    background-color: white;
    font-size: var(--font-size-large);
    text-decoration: none;
}



@media screen and (max-width: 600px) {
    .dashboard-container {
        width: 75%;
    }

    h1 {
        font-weight: 200;
        font-size: 1.75rem;
        text-align: center;
    }
    /*remove chrome's default behavior*/
    input:focus, textarea:focus, select:focus {
        outline: none;
    }

    .info-container {
        padding-top: 1.5rem;
    }
    .info-container p {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container input {
        margin: 1.5rem;
        width: 18.75rem;
        height: 3.25rem;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 0.05rem;
        border-color: var(--pale-blue);
    }

    input[type=email] {
        padding-left: 1.75rem;
        font-size: var(--font-size-small);
    }

    input:focus{
        border-style: solid;
        border-width: 0.075rem;
        border-color: var(--primary-color);
    }

    input::placeholder {
        padding-left: 1.05rem;
        color: var(--gray);
        font-size: var(--font-size-small);
    }

    .error-container {
        color: var(--light-red);
        padding: 0.75rem;
        margin-top: -1.5rem;
        margin-bottom: 1.0rem;
        display: inline;
    }
    
    .submit-btn {
        width: 20rem;
        height: 3.25rem;
        border-radius: 1.75rem;
        background-color: var(--primary-color);
        color: white;
        border-style: solid;
        border-color: var(--primary-color);
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        font-size: var(--font-size-medium);
        font-weight: 700;
    }

     .email-dialog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 90vw;
    }

    .launch-icon {
        height: auto;
        max-width: 40%;
        text-align: center;
        margin: 1.25rem;
    }

    .launch-message1 {
        margin: 0.5rem;
        color: var(--very-dark-blue);
        font-weight: 700;
    }

    .launch-message2 {
        color: rgb(224, 147, 2);
        font-weight: 400;
    }

    .modal-button {
        margin: 1rem;
        padding: 1rem;
        width: 6.5rem;
        border-radius: 1.75rem;
        border-style: solid;
        border-color: var(--pale-blue);
        color: white;
        background-color: var(--primary-color);
        font-weight: 500;
        text-align: center;
    }
}