@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #2A4DD0;
    --green: #4CA154;
    --black: #111729;
    --midnight-blue: #111729;
    --grey: #909193;
    --smoky-white: #F2F9FE;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 1.25rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--smoky-white);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    background-color: var(--white);
    position: relative;
    cursor: pointer;

}
/*hamburger menu for mobile*/

#menuCheckbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
}

.hamburger-menu span {
    display: block;
    width: 1.5rem;
    height: 0.188rem;
    margin-bottom: 0.225rem;
    position: relative;
    background-color: var(--midnight-blue);
    border-radius: 0.25rem;
    z-index: 1;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

input:checked ~ label span:first-of-type {
    transform: rotate(45deg) translate(4.7px, 5px);
}

input:checked ~ label span:nth-of-type(2) {
    opacity: 0;
    transform: scale(0);
}

input:checked ~ label span:last-of-type {
    transform: rotate(-45deg) translate(4.7px, -5px);
}

.alarado-nav {
    width: 75vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 9rem;
    background-color: var(--white);
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}

input:checked  ~ nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
} 

.dark-mode-feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 3.25rem;
    height: 1.35rem;
    background-color: var(--midnight-blue);
    border-radius: 2rem;
}

.fa-solid {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.875rem;
    color: var(--grey);
}

ul li a:hover {
    color: #2A4DD0;
    text-decoration: underline;
    text-underline-offset: 0.313rem;
    text-decoration-thickness: 0.125rem;
}

/* dark-mode*/

main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-text1 {
    font-weight: 600;
    font-size: 0.938rem;
    color: var(--midnight-blue);
}

.hero-content h1 {
    width: 70vw;
    font-size: 2rem;
    color: var(--black);
}

.hero-text2 {
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
}

.hero-cta {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.75rem;
}

.cta-started-btn {
    padding: 0.875rem 1.875rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.75rem;
}

.cta-started-btn:hover {
    background-color: var(--green);
}

.cta-demo-link {
    color: var(--blue);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.125rem;
}

.cta-highlights {
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
}

.cta-highlights p {
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--grey);
    text-align: center;
}

.hero-image {
    width: 75vw;
    display: flex;
    margin: auto;
}

.feature-hero {
    width: 100%;
}

@media (max-width: 640px) {

}

@media (min-width: 1280px) {
    
}