@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-primary: #121826;
    --light-grey: #E5E7EB;
    --white: #FFFFFF;
    --light-blue: #3662E3;
    --smoky-white: #F8FAFC;
    --smoky-grey: #4D5562;
    --orange: #E9A23B;
    --dark-grey: #4D556233;
    --font-size-small: 1rem;
    --font-size-medium: 2rem;
    --font-size-large: 4rem;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

header {
    width: 100vw;
    height: 16vh;
    background-color: var(--smoky-white);
    background-image: url(./assets/sand-background-image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.header-text {
    text-align: center;
    color: var(--smoky-grey);
    margin-top: -0.75rem;
}

section {
    width: 80vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 75vw;
    border-collapse: collapse;
}

table th:nth-child(4) {
    color: var(--white);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

table td:nth-child(4) {
    color: var(--white);
}

colgroup:nth-child(1) {
    width: 25rem;
}

colgroup:nth-child(2),
colgroup:nth-child(3),
colgroup:nth-child(5) { 
    width: 20rem;
}
colgroup:nth-child(4){ 
    width: 15rem; 
    background-color: var(--dark-primary);
}

/* table head */

thead tr {
    height: 8rem;
    vertical-align: middle;
}

thead th {
    text-align: center;
    position: relative;
}

thead th p,
thead th h3 {
    margin: 0;
}

.tag {
    color: var(--light-blue);
    font-size: 0.75rem;
    padding-bottom: 0.625rem;
}

.tag-key {
    color: var(--white);
    background-color: var(--light-blue);
    width: 3.75rem;
    height: 0.938rem;
    border-radius: 0.75rem;
    font-size: 0.688rem;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 20%;
}

.popular-header {
    padding-top: 1.625rem;
}

h3 {
    font-size: 2.625rem;
    font-weight: 700;
}

p {
    color: var(--smoky-grey);
    font-size: 0.688rem;
    font-weight: 600;
}

p.popular {
    color: var(--white);
}

/* table body */

tbody tr {
    height: 2.25rem;
    border-bottom: 0.063rem solid var(--dark-grey);
}

tbody th {
    background-color: var(--smoky-white);
    background-image: url(./assets/sand-background-image.png);
    background-size: contain;
    text-align: left;
    padding: 0.438rem;
    font-size: 0.75rem;
    font-weight: 600;
}

tbody td {
    font-size: 0.688rem;
    text-align: center;
}

/* table foot */

tfoot tr {
    height: 3.6rem;
}

tfoot td:nth-child(4) {
    background-color: var(--orange);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

tfoot td {
    font-size: 0.625rem;
    font-weight: 600;
}

tfoot td a {
    color: var(--light-blue);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
}

.popular-link {
    color: var(--white);
}

.cta-icon {
    width: 1rem;
    height: 1rem;
}

@media (max-width: 640px) {

    section{
        width: 90vw;
    }

    table {
        width: 100%;
    }

    colgroup:nth-child(1) {
        width: 30%;
    }

    colgroup:nth-child(2),
    colgroup:nth-child(3) { 
        visibility: collapse;
    }

    colgroup:nth-child(4),
    colgroup:nth-child(5) { 
        width: 35%;
    }
}

@media (max-width: 1040px) {
    section{
        width: 90vw;
    }

    table {
        width: 100%;
    }

    colgroup:nth-child(1) {
        width: 30%;
    }

    colgroup:nth-child(2) { 
        visibility: collapse;
    }

    colgroup:nth-child(3)
    colgroup:nth-child(4),
    colgroup:nth-child(5) { 
        width: 20%;
    }
}