@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /*primary*/
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --grayish-violet: hsl(270, 7%, 64%);
    --very-dark-violet-main: hsl(271, 36%, 24%);
    /*gradients*/
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    /*secondary*/
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-violet-btn:hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--light-grayish-violet) ;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: -15%;
    left: -18%;
    height: 80%;
    width: 40%;
    border-radius: 0 0 20rem 20rem;
    background: HSL(293, 100%, 63%);
    background: linear-gradient(90deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 85%);
    z-index: -1;
    }
body::after {
    content: "";
    position: absolute;
    bottom: -5%;
    right: -18%;
    height: 50%;
    width: 40%;
    border-radius: 20rem 20rem 0 0;
    background: hsla(276, 100%, 81%, 0.13);
    z-index: -1;
    }

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.phone-container {
    height: 40.25rem;
    width: 22.25rem;
    background-color: var(--white); 
    border-radius: 2.125rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    height: 38.75rem;
    width: 20.875rem;
    border-radius: 2rem;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
}

.blank-container-pill {
    background-color: var(--white);
    height: 2rem;
    width: 10rem;
    border-radius: 2rem;
    position: absolute;
    top: -2%;
}
.phone-header {
    height: 14%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.75rem 1.75rem 0.25rem 0.25rem;
    background: HSL(264, 100%, 61%);
    background: linear-gradient(90deg, rgba(136, 56, 255, 1) 14%, rgba(233, 66, 255, 1) 90%);
}

.phone-header-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fa {
    color: var(--white);
    display: inline-block;
    transform: scaleY(1.4);
}

.avatar-content {
    display: flex;
}

.avatar-profile {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    border: 2px solid var(--white);
}

.header-content {
    padding: 0 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
}

.header-content h3 {
    font-size: 0.813rem;
    color: var(--white);
}

.header-content p {
    font-size: 0.625rem;
    color: var(--light-grayish-violet);
    opacity: 0.8;
}

.header-addon {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    justify-self: flex-end;
}

.profile-more {
    width: 0.125rem;
    height: 0.125rem;
    border-radius: 50%;
    background-color: var(--white);
}

.phone-body-content {
    width: 100%;
    height: 86%;
    padding: 1rem;
    border-radius: 0.125rem 0.125rem 2rem 2rem;
    background-color: var(--light-grayish-violet);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.phone-body-content p {
    font-size: 0.675rem;
    line-height: 1.2;
}

.sender-text-box {
    width: 11.5rem;
    background-color: hsla(276, 100%, 81%, 0.349);
    padding: 0.5rem;
    text-align: left;
    border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
}

.sender-text-box p {
    width: 10rem;
    color: hsla(276, 66%, 35%, 0.774);
}

.receiver-image-box {
    align-self: flex-end;
}

.receiver-text-box {
    max-width: 11rem;
    width: fit-content;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 0.75rem 0.75rem 0.25rem 0.75rem;
    align-self: self-end;
}

.receiver-text-box p {
    opacity: 0.7;
    word-wrap: break-word;
}

.dog-image {
    height: 3rem;
    width: 3rem;
    border-radius: 0.875rem;
}

.pricing-feature {
    width: 14rem;
    height: 3rem;
    background: linear-gradient(90deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 85%);
    border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
    padding: 0 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-feature p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.8;
}

.pricing-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.125rem dotted var(--light-grayish-violet);
}

.message-form {
    margin-top: 0.875rem;
    background-color: var(--white);
    border-radius: 2rem;
    width: 19.5rem;
    padding: 0.625rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.message-form textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background: var(--very-light-gray);
  border-radius: 2rem;
  font-size: 0.725rem;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  margin: auto;
}

.message-form textarea::placeholder {
    color: var(--grayish-blue);
}

.message-send-action {
    border: none;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--very-dark-violet-btn);
}

.message-form.sent {
    outline: 2px solid var(--moderate-violet);
    transition: outline 0.2s ease;
}

.message-send-action .fa-solid {
    color: var(--white);
    font-size: 1.125rem;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.feature-content h1 {
    color: var(--very-dark-violet-main);
    font-size: 2.5rem;
    font-weight: 500;
}

.feature-content p {
    width: clamp(20rem, 80%, 27rem);
    text-align: center;
    color: var(--grayish-violet);
    line-height: 1.6;
}


@media (min-width: 1024px) {
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80%;
        width: 34%;
        border-radius: 0 0 20rem 20rem;
        background: HSL(293, 100%, 63%);
        background: linear-gradient(90deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 85%);
        z-index: -1;
    }
    body::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -15%;
        height: 80%;
        width: 34%;
        border-radius: 20rem 20rem 0 0;
        background: hsla(276, 100%, 81%, 0.13);
        z-index: -1;
    }
    main {
        width: 75%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
    .feature-content {
        align-items: flex-start;
    }
    .feature-content p {
        width: 25rem;
        text-align: left;
        font-size: 0.875rem;
    }
}