@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light--gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light--gray);
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
}

header {
    width: 80vw;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--grayish-blue);
    font-size: 2.1rem;
    font-weight: 300;
    text-align: center;
}

h2 {
    color: var(--very-dark-blue);
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.header-paragraph {
    width: 70vw;
    padding-top: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: var(--grayish-blue);
}

section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.feature {
    width: 70vw;
    height: 27.5vh;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    position: relative;
}

.feature-1 {
    border-top: 0.25rem solid var(--cyan);
}

.feature-2 {
    border-top: 0.25rem solid var(--red);
}

.feature-3 {
    border-top: 0.25rem solid var(--orange);
}

.feature-4 {
    border-top: 0.25rem solid var(--blue);
}

.feature-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem;
}

.feature-text {
    padding-top: 0.75rem;
    color: var(--grayish-blue);
    font-size: 0.895rem;
    width: 20.25rem;
}

@media (min-width: 769px) {

    .header-paragraph {
        width: 50vw;
    }

    .feature {
        width: 28rem;
        height: 17.5rem;
    }
}

@media (min-width: 1201px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        place-items: center;
    }

    .feature {
        width: 21.5rem;
        height: 16.5rem;
    }

    .feature-text {
        font-size: 0.795rem;
    }

    .feature-1 {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .feature-2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .feature-3 {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    .feature-4 {
        grid-column: 3/4;
        grid-row: 2/4;
    }
}